@page
@model IndexModel

<div class="text-center pt-5">
    <h1 class="display-4 mb-5">LeCorrecteur</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut maximus dui, in porta est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed in diam a lorem placerat consequat ut et risus. Aenean eu interdum nisl, ut commodo diam. Mauris fringilla lobortis arcu, ut eleifend dui ultricies vel. </p>
</div>
