@page
@model LeCorrecteur.Pages.Grilles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Créer une grille</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grille.Titre" class="control-label"></label>
                <input asp-for="Grille.Titre" class="form-control" />
                <span asp-validation-for="Grille.Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grille.Cours" class="control-label"></label>
                <input asp-for="Grille.Cours" class="form-control" />
                <span asp-validation-for="Grille.Cours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Revenir aux grilles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
